db.sqlite3
/static_cdn/media_root/
/venv
/media/static
/media/dynamic
/media/2022
/.idea
/dasoon/__pycache__
/locations/__pycache__
/locations/migrations/__pycache__
/posters/__pycache__
/posters/migrations/__pycache__
/application/__pycache__
/application/migrations/__pycache__
/account/__pycache__
/account/migrations/__pycache__